#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R  &kp T                                          &kp Y        &kp U  &lt 0 I    &kp O    &kp P
&mt LEFT_SHIFT A  &kp S         &kp D         &kp F  &kp G        &kp LS(LG(S))      &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp SQT
&kp Z             &kp X         &kp C         &kp V  &kp B        &kp COLON          &kp SEMICOLON  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &none  &lt 0 SPACE  &none              &kp BACKSPACE  &lt 0 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        custom {
            bindings = <
&kp F4     &kp LC(W)  &kp LG(E)     &trans     &kp LC(T)                       &kp GRAVE             &kp PAGE_UP       &kp UP_ARROW       &kp PAGE_DOWN  &trans
&kp LC(A)  &kp LC(S)  &kp LEFT_ALT  &kp TAB    &kp ESCAPE  &trans      &trans  &kp HOME              &kp LEFT          &kp DOWN           &kp RIGHT      &kp END
&kp LC(Z)  &kp LC(X)  &kp LC(C)     &kp LC(V)  &kp K_MENU  &trans      &trans  &kp NON_US_BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans         &trans
&trans     &trans     &trans        &trans     &trans      &trans      &trans  &trans                                                                    &trans
            >;
        };
    };
};
